@import "libs/prefixer";
@import "libs/hover/hover";
@import "libs/animate";
@import "parts/colores";
@import "parts/forms";

/*******************************************************************************
BASICOS
*******************************************************************************/
body{
    background: @body-fondo;
}
a{
    &:hover{
        text-decoration: none; 
    }
}
.central-content{
    padding: 32px 0;
    .titulo-pagina span{
        background: @body-fondo;
    }     
}

.titulo-seccion{
    .fredo;
    font-size: 30px;
    color:@gris-oscuro;
    text-transform: uppercase;
}
.titulo-pagina{
    .fredo;
    font-size: 35px;
    text-align: center;
    position:relative;
    margin-bottom: 35px;
    span{
        position: relative;
        z-index: 3;
        padding-left: 150px;
        padding-right: 150px;
    }
    &:before,&:after{
        height: 2px;
        width:50%;
        background:#FFF;
        content:"";
        position:absolute;
        top:50%;
        margin-top: -1px;

    }
    &:before{
        left: 0;
    }
    &:after{
        right:0;
    }
}
.breadcrumbs{
    text-align: center;
    padding-bottom: 20px;
    .quick;
    font-size: 16px;
    color:@texto-bread;
    a{
        color:@texto-bread;   
        &:hover{
            color:#FFF; 
        }
    }
}

.link-underline(@color){
    .underline-from-center;
    &:hover,&.active{
        color:@color; 
    }
    &:before{
        background: @color;         
    }  
}

.texto-descripcion{
    .quick;
    font-size: 20px;
    line-height: 23px;
    color: @texto-claro;
}


/*******************************************************************************
TOP  
*******************************************************************************/
@import "parts/top";
/*******************************************************************************
MENU  
*******************************************************************************/
@import "parts/menus";

/*******************************************************************************
HOME
*******************************************************************************/
@import "parts/banner";

@import "parts/home";

/*******************************************************************************
FOOTER BOXES
*******************************************************************************/
@import "parts/footer";


/*******************************************************************************
LOGIN
*******************************************************************************/
.bglogin{
    background: @fondo-violeta;
    padding-bottom:120px;
    .titulo-pagina{
        &:before,&:after{
            background:@body-fondo;           
        }        
        span{
            background: @fondo-violeta;
        }          
    }
}
.login-content{
    background: #FFF;
    .border-radius(10px);
    padding: 18px;
    position:relative;
}
.bglogin .login-content{
    &:before{
        position: absolute;
        top: 0;
        left:50%;
        bottom:0;
        height: 100%;
        width: 1px;
        background: @input-border;
        content:"";
        @media (max-width:992px){
            display:none;
        }         
    }
}    
.inicio-session{
    max-width: 255px;
    margin:0 auto;
    .quick;
    font-size:13px;
    a{
        color:@button-border;
        .link-underline(@button-border);
        line-height: 20px;  
    }
    .basic-input;
    .basic-button;
    .basic-checbox;
    .title{
        .form-title;
    }
    .footer{
        text-align: center;
        padding: 20px 0 20px 0;
    }
}

.inicio-registro{
    .inicio-session;
}

/*******************************************************************************
CONTACTO
*******************************************************************************/
.contacto-content{
    .login-content;
    .basic-input;
    .basic-button;
    .basic-checbox; 
    .basic-textarea;
    .texto-descripcion{
        padding: 20px 80px;
        @media (max-width:992px){
            padding: 20px;
            font-size:13px;
        }              
    }
    .form-contacto{
        max-width: 520px;
        margin: 0 auto;
        padding-bottom: 30px;
    }
}

/*******************************************************************************
FAVORITOS
*******************************************************************************/
.favoritos-content{
    .contacto-content;
    .inner{
        padding: 30px 50px;
        @media (max-width:767px){
            padding: 20px;
            font-size:13px;
        }         
    }

}
.favorito-row{
    padding-bottom:22px;
    @media (max-width:767px){        
        margin:5px 2%;
        border:solid 1px @input-border;
        .border-radius(10px);
        padding:10px;
        width:46%;
        float:left;
    }        
    .fav-imagen{
        img{
            .border-radius(10px);
            .glow;
        }
    }
    .fav-precio{
        padding-top:18px;
        color:@gris-oscuro;
        .sniglet-bold;
        font-size: 23px;        
    }
    .fav-botones{
        padding-top:18px;
        a{
            display: inline-block;
            width: 37px;
            height: 37px;       
            margin:0 5px;
        }
        .favorito-mas{
            .grow;
            background: url(../images/icon-mas.png) no-repeat;
        }
        .favorito-menos{
            .shrink;
            background: url(../images/icon-cruz.png) no-repeat;            
        }
    }
    .fav-descripcion{
        padding-top:18px;
        .titulo{
            .quick-bold;
            font-size: 27px;
            color:@gris-oscuro;
            @media (max-width:767px){        
                font-size:16px;
            }              
        }
        .precio{
            .sniglet-bold;
            font-size: 23px;
            color:@texto-precio-claro;
        }
    }    
}
